.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30vh 0vh 0vh;
    gap: 0px 0px;
    grid-template-areas:
      "canvas canvas canvas topLabel"
      "canvas canvas canvas bottomLabel"
      ". . . .";
  }
  
  .canvas { grid-area: canvas; }
  
  .topLabel { 
      grid-area: topLabel;
      text-align: right;
      padding-top: 1em;
      padding-right: 1em;
    }
  
  .bottomLabel {
      grid-area: bottomLabel;
      text-align: right;
      padding-right: 1em;
    }
  